{% extends "bases/main.html" %}
{% block title %}Solicitações a permitir{% endblock %}

{% block sectiontitle %}
Solicitações de usuários
{% endblock %}

{% block content %}
<section class="search outline" action="/adm_request" method="GET">
    <form id="search-bar">
        <input type="text" placeholder="Pesquisar" name="search">
        <button type="submit" class="btn waves-effect grey darken-1 col s12" name="action">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</section>

<section class="row">
    {% if solicitacoes_html %}
    {% for solicitacao in solicitacoes_html %}
    <div class="document-card">
        <img class="doc-img" src="{{ solicitacao.image }}" alt="Imagem do Documento">

        <h3 class="doc-title fs-4">{{ solicitacao.document_name }}</h3>
        <div class="row" style="margin-left:12.5px;">
            <span class="grey-text text-darken-1" style="display: inline-block; width:140px;">
                Em estoque: {{ solicitacao.amount }}
            </span>
            <span class="grey-text text-darken-1">Requerente: {{ solicitacao.user_name }}</span>
        </div>
        <span class="doc-desc-label">Desc: {{ solicitacao.doc_description }}</span>
        <form method="POST" action="/api/request/aprovar/{{ solicitacao.id_request }}">
            <button class="doc-details btn waves-effect grey darken-1" type="submit">Aprovar</button>
        </form>
    </div>
    {% endfor %}
    {% else %}
    <p class="col-12">Nenhuma solicitação pendente.</p>
    {% endif %}
</section>
{% endblock %}