{% extends "bases/main.html" %}
{% block title %}Página Inicial{% endblock %}

{% block sectiontitle %}Suas Informações{% endblock %}

{% block content %}
        <div class="card-panel center" >
            <img src="https://cdn-icons-png.flaticon.com/128/5393/5393061.png" alt="" class="responsive-img ">
        </div>

        <div class="row center">
            <a class=" col s10 waves-effect waves-light btn center" style="margin-top: 50px; margin-left: 50px;">Solicitações dos usuário</a>
            <a class=" col s10 waves-effect waves-light btn center" style="margin-top: 40px; margin-left: 50px;">Histórico de solicitações</a>
        </div>

{% endblock %}