{% extends "bases/main.html" %}
{% block title %}Página Inicial{% endblock %}

{% block sectiontitle %}Documentos{% endblock %}

{% block content %}
<section class="search outline section-padding">
    <form id="search-bar">
        <input type="text" placeholder="Pesquisar" name="search">
        <button type="submit" class="btn waves-effect grey darken-1 col s12" name="action"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</section>

<section class="documents">
    {% for item in itens %}
    <div class="document-card">
        <img class="doc-img" src="{{item.image}}" alt="{{item.category}}">

        <h3 class="doc-title fs-4">{{item.name}}</h3>

        <span class="doc-amount">Quantidade em Estoque: {{item.amount}}</span>

        <span class="doc-desc-label">Descrição</span>
        <p class="doc-desc">{{item.doc_description}}</p>
            <a href="/document/{{ item.id_document }}" class="doc-details btn waves-effect grey darken-1" type="submit" name="action">Ver detalhes</a>

    </div>
    {% endfor %}
</section>

{% endblock %}