<!-- O comando abaixo , está importando a formatação padrão das páginas, adicionando também os títulos e subtítulos para melhor leitura. -->
{% extends "bases/secondary.html" %}
{% block title %}Iniciar Sessão{% endblock %}
{% block sectiontitle %}
Olá,
{% endblock %}
{% block subtitle %}
Vamos cadastrar sua conta
{% endblock %}

{% block content %}

<!-- Formulário para o cadastro de usuário -->
<form action="/post/logon" method="POST"> 

    <!-- Campo de Nome -->
    <div class="row">
        <div class="input-field col s12">
            <input value="" id="name" name="name" type="text" class="validate">
            <label class="active" for="name">Nome</label>
        </div>
    </div>

    <!-- Campo de E-mail -->
    <div class="row">
        <div class="input-field col s12">
            <input value="" id="email" name="email" type="text" class="validate">
            <label class="active" for="email">E-mail</label>
        </div>
    </div>

    <!-- Campo de Senha -->
    <div class="row">
        <div class="input-field col s12">
            <input value="" id="password" name="password" type="password" class="validate">
            <label class="active" for="password">Senha</label>
            
        </div>
        <a href="/" class="link col s12 grey-text text-darken-1">Já estou cadastrado (acessar conta)</a>
    </div>

    <!-- Botão de Envio do Cadastro -->
    <div class="row">
        <button class="btn waves-effect grey darken-1 col s12" type="submit" name="action">
            Cadastrar
        </button>
    </div>
</form>

{% endblock %}