{% extends "bases/secondary.html" %}
{% block title %}Nova Senha{% endblock %}

{% block sectiontitle %}
Criar uma senha nova
{% endblock %}

{% block subtitle %}
    Enviaremos um E-mail com as instruções
    para criar uma nova senha
{% endblock %}

{% block content %}
<form action="">
    <div class="row">
        <div class="input-field col s12">
            <input value="" id="email" name="email" type="text" class="validate">
            <label class="active" for="email">E-mail</label>
        </div>
    </div>
    <div class="row center-align">
        <button class="btn waves-effect grey darken-1 col s12" type="submit" name="action">Enviar Email</button>
        <a href="/" class="link col s12 grey-text text-darken-1">Voltar à página de Login</a>
    </div>
</form>
{% endblock %}