{% extends "bases/secondary.html" %}
{% block title %}Minhas Solicitações{% endblock %}

{% block sectiontitle %}
 Minhas solicitações
{% endblock %}

{% block content %}
<div>
    <input type="text" placeholder="Pesquisa">
</div>
<section class="row">
    <div class="card col" style="padding: 2rem; margin-left: 50px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg" alt="alguma coisa">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Título do material</span>
          <div style="width: 170px">
              <button class="btn waves-effect grey darken-1 col s12" style="margin-bottom: 5px;">Notificar</button>
              <button class="btn waves-effect grey darken-1 col s12">Aceitar</button>
          </div>
        </div>
      </div>
    <div class="card col" style="padding: 2rem; margin-left: 50px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg" alt="alguma coisa">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Título do material</span>
          <div style="width: 170px">
              <button class="btn waves-effect grey darken-1 col s12" style="margin-bottom: 5px;">Notificar</button>
              <button class="btn waves-effect grey darken-1 col s12">Aceitar</button>
          </div>
        </div>
      </div>
    <div class="card col" style="padding: 2rem; margin-left: 50px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg" alt="alguma coisa">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Título do material</span>
          <div style="width: 170px">
              <button class="btn waves-effect grey darken-1 col s12" style="margin-bottom: 5px;">Notificar</button>
              <button class="btn waves-effect grey darken-1 col s12">Aceitar</button>
          </div>
        </div>
      </div>
    <div class="card col" style="padding: 2rem; margin-left: 50px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg" alt="alguma coisa">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Título do material</span>
          <div style="width: 170px">
              <button class="btn waves-effect grey darken-1 col s12" style="margin-bottom: 5px;">Notificar</button>
              <button class="btn waves-effect grey darken-1 col s12">Aceitar</button>
          </div>
        </div>
      </div>
    <div class="card col">

    </div>
</section>
{% endblock %}