{% extends "bases/main.html" %}
{% block title %}Perfil{% endblock %}

{% block sectiontitle %}Perfil{% endblock %}

{% block headeroptions %}<button id="gotopreferences" class="btn header-button"><i class="fa-solid fa-bars"></i></button>{% endblock %}

{% block content %}

<style>
    .user-info-container{
        height: 13rem;
        width: 100%;

        display: flex;
        align-items: start;
        justify-content: center;
        text-align: center;
    }

    .user-info{
        width: 35%;
    }

    .profile-picture{
        width: 75%;
        border-radius: 100%;
    }

    .profile-nav{
        height: 2.5rem;
        margin-top: 1px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .nav-option{
        border: none;
        background-color: white;

        transition: background-color 0.15s;
    }

    .nav-option:hover{
        background-color: rgba(0,0,0,0.1);
    }

    .nav-option:active{
        background-color: rgba(0,0,0,0.15);
    }
</style>

<script defer>
    const gotopreferences = document.querySelector('#gotopreferences');
    if (gotopreferences){
        gotopreferences.addEventListener('click', function(){
        window.location.pathname = '/preferencias' 
    })}
</script>

<div class="profile">
    <section class="user-info-container outline">
        <div class="user-info">
            <h2 class="fs-4">Seu Nome Aqui</h2>
            <img class="profile-picture" src="https://openclipart.org/image/800px/346569" alt="Foto de Perfil">
        </div>
    </section>

    <section class="profile-nav">
        <button class="nav-option outline fs-2">Documentos</button>
        <button class="nav-option outline fs-2">Solicitações</button>
    </section>

    <section class="documents">
        <div class="document-card">
            <!-- Imagem do documento. -->
            <img class="doc-img" src="http://10.110.134.24:8080/static/images/imagem_exemplo1.jpg" alt="">
    
            <!-- Título do documento. -->
            <h3 class="doc-title fs-4">Lorem Ipsum</h3>
    
            <!-- Quantidade no estoque. -->
            <span class="doc-amount">Quantidade em Estoque: 1298</span>
    
            <!-- Descrição do documento. -->
            <span class="doc-desc-label">Descrição</span>
    
            <!-- Ver detalhes. -->
            <p class="doc-desc">Um maravilhoso material didático</p>
                <a href="" class="doc-details btn waves-effect grey darken-1" type="submit" name="action">Ver detalhes</a>
    
        </div>
    </section>
</div>
    

{% endblock %}