{% extends "bases/main.html" %}
{% block title %}Minhas Solicitações{% endblock %}

{% block sectiontitle %}
 Minhas solicitações
{% endblock %}

{% block content %}
<section class="search outline">
    <form id="search-bar">
        <input type="text" placeholder="Pesquisar" name="search">
        <button type="submit" class="btn waves-effect grey darken-1 col s12" name="action"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</section>
<section class="row">
    <div class="document-card">
        <img class="doc-img" src="https://marketplace.canva.com/EAGCwg_Ni6g/2/0/1131w/canva-documento-a4-capa-planejador-estudos-claro-creme-e-marrom-jczPDJ2a9vA.jpg" alt="">

        <h3 class="doc-title fs-4">Título do Documento</h3>

        <span class="doc-amount">Quantidade em Estoque: 23</span>

        <span class="doc-desc-label">Descrição</span>
        <p class="doc-desc">Lorem Ipsum Dolorem Sit Amet</p>
        <button class="doc-details btn waves-effect grey darken-1" type="submit" name="action">Cancelar</button>
    </div>
    <div class="document-card">
        <img class="doc-img" src="https://marketplace.canva.com/EAGCwg_Ni6g/2/0/1131w/canva-documento-a4-capa-planejador-estudos-claro-creme-e-marrom-jczPDJ2a9vA.jpg" alt="">

        <h3 class="doc-title fs-4">Título do Documento</h3>

        <span class="doc-amount">Quantidade em Estoque: 23</span>

        <span class="doc-desc-label">Descrição</span>
        <p class="doc-desc">Lorem Ipsum Dolorem Sit Amet</p>
        <button class="doc-details btn waves-effect grey darken-1" type="submit" name="action">Cancelar</button>
    </div>
</section>
{% endblock %}