<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- DEFININDO O BLOCO DE TÍTULO -->
  <title>{% block title %}{% endblock %} - Athena Edu</title>

  <!-- IMPORTANDO O FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- IMPORTANDO ESTILOS LOCAIS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/materialize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/primary.css') }}">

  <!-- IMPORTANDO SCRIPTS LOCAIS -->
  <script defer src="{{ url_for('static',filename='js/materialize.js') }}"></script>
  <script defer src="{{ url_for('static',filename='js/global.js') }}"></script>
  <script defer src="{{ url_for('static',filename='js/primary.js') }}"></script>

  <!-- FAVICON, ATUALIZANDO DINÂMICAMENTE PELO 'js/global.js' -->
  <link id="favicon" rel="icon" type="image/png" href="{{ url_for('static',filename='images/logo/black-notext48x48.png') }}">

  {% endblock %}
</head>

<body>
    <div class="wrapper outline">
        <header class="header">
            <button class="btn" id="goback"><i class="fa-solid fa-arrow-left"></i></button>
            <h1 class="fs-6">{% block sectiontitle %} {% endblock %}</h1>

            <div class="options">
              {% block headeroptions %} {% endblock %}
            </div>
          </header>
        
          <main class="content">
            {% block content %}
        
            {% endblock %}
          </main>
        
          <div class="navbar">
            <a class="navbar-option" href="/">
              <i class="fa-solid fa-house"></i>
              Home
            </a>

            <a class="navbar-option" href="/atividade">
              <i class="fa-solid fa-bell"></i>
              Notificações
            </a>

            <a class="navbar-option" href="/user_profile">
              <i class="fa-solid fa-user"></i>
              Perfil
            </a>
          </div>
    </div>
</body>

</html>